.main-content {
  padding: 30px;
  background: #f3f4f6;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
.menu-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app-layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #0f172a;
  transition: 0.3s ease;
  z-index: 1000;

  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.sidebar.open {
  left: 0;
}

/* Navigation */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

/* Links */
.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 15px;
  transition: 0.2s ease;
}

.nav-item:hover {
  background: #1e293b;
  color: white;
}

.nav-item.active {
  background: #2563eb;
  color: white;
}

.logout {
  margin-top: auto;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}